body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  background-image: url("map.png");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}